<DOCTYPE html>
<html>
<head>
  <div style="background-color: azure;">
   <meta charset="UTF-8"
  <title>Welcome to the Wooka Chaka Empire</title>
   </head>
  <body>
    <script>
      alert ("Welcome to the Wooka Chaka Empire.");
      alert ("Wooka Chaka is life");
      alert ("Wooka Chaka is  World");
      alert ("All hail Wooka Chaka");

      </script>
<h1>Welcome to the Wooka Chaka Empire</h1>
<hr>
<p>This is the official website of the Wooka Chaka Empire &#128175;</p>
<p>This wasn't <em>really</em> hard to make.
<p> idk why i made this uh enjoy? &hearts;</p>
<p> Here are a list of members of the Wooka Chaka Empire</p>
<p>Eadhu</p>
<p>Awaab</p>
<p>Adib (Captain)</p>
<p>Ansh</p>
<p>Jackson</p>
<p>Wasi</p>
<p>Aarush</p>
<p>Abel</p>
<p>Adeeb</p>
<p>Pragik</p>
<p>Satvik</p>
<p>Jastej</p>
<p>Chase</p>
<p>Keeyan</p>
<p>Matthew</p>
<p>These people are &#128293; and &#128283;&#128285;
<section>
   <h1>Secret Services</h1>
 <p> <a href="https://scratch.mit.edu/projects/27676406/">Fc24 pack opening sim</a></p>
  <p> <a href="https://sites.google.com/view/unblockedgamesclassroom24k/slope/">Matthews op site</a></p>
<p>SHOUT OUT TO ABEL FOR SAVING MY WEBSITE IN HIS GOOGLE BOOKMARKS</p>

<h1>SONG OF THE WEEK&#128175;</h1>
<iframe width="420" height="315"
src="https://www.youtube.com/embed/U-l4ya3ejko?si=YgzzTWzCY-OCD38">
</div>
</iframe>
</body>
